<br>
<h2>Historial</h2>
<hr>
<br>
<table  class="table table-hover">
    <thead>
        <th> # </th>
        <th> Nombre Destinatario </th>
        <th> Rut </th>
        <th> Banco </th>
        <th> Tipo de Cuenta </th>
        <th> Monto </th>
    </thead>
    <tbody>
        <tr *ngFor="let transferencia of listahistorial; let i=index">
            <td>{{i + 1}}</td>
            <td>{{transferencia.detinatario[i].nombre}}</td>
            <td>{{transferencia.detinatario[i].run}}</td>
            <td>{{transferencia.detinatario[i].banco[0].nombre}}</td>
            <td>{{transferencia.detinatario[i].cuenta[0].tipo}}</td>
            <td>{{transferencia.monto}}</td>
        </tr>
    </tbody>
</table>