<br>
<h2>Transferencia</h2>
<hr>
<br>
<form>
    <div class="row">
        <div class="col-5">
            <label for="termino">Buscar Destinatario</label>
            <input type="text" autocomplete="off" name="termino" class="form-control" />
        </div>
    </div>
    <br>
    <div class="row">
       <div class="col-12">
        <span><strong>Detalle del destinatario</strong></span>
       </div> 
       <div class="col-12">
           Nombre
       </div>
       <div class="col-12">
           Correo
       </div>
       <div class="col-12">
           Banco
       </div>
       <div class="col-12">
           Tipo de Cuenta
       </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-5">
            <label for="termino">monto</label>
            <input type="text" autocomplete="off" name="termino" class="form-control" />
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><button type="submit" class="w-100 btn btn-primary btn-lg">Transferir</button></div>
    <div class="col-4"></div>
  </div>